.Container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.page{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    min-height: 95vh;
}
input, select{
    max-width: 600px;
}
.card{
    align-items: center;
    width: 36vw;
    margin: 5vw;
    padding: 0 2vw;
}

h1 {
    margin: 50px;
}
h3 {
    margin: 20px;
}
.hiddenInput {
    visibility: hidden;
    display: none;
}
.text {
    word-wrap: break-word;
    max-width: 100%;
    margin-top: 20px;
}
table {
    border: 1px solid grey;
    width: 90% !important;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
        .container {
            width: 90vw;
        }
}

.myNav{
    background-image: linear-gradient(to right, blueviolet , crimson);
}
a {
    color: white !important;
}
.myFooter{
    background-image: linear-gradient(to left, blueviolet , crimson);
}
i {
    margin: 5px;
    color: white;
}


.page-link, .page-link:hover, .page-link:focus{
    background-color: blueviolet;
}
